@import "core.css";

body {
	font-size: 1.15rem;
}

ul {
	padding: 2px;
	list-style-type: square;
}

.note {
	font-size: 0.9rem;

}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffe699 #111111;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffe699;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffe699;
  border-radius: 20px;
  border: 3px solid #111111;
}



@media screen and (max-width: 400px) {
	body {
		margin: 6% 10%;
	}
}

@media screen and (max-width: 800px) {
	body {
		margin: 10% 20%;
	}
}


@media screen and (min-width: 801px) and (max-width: 1980px) {
body {
	margin: 8% 15%;
}

/*Add responsive media queries for phones, so it is all 1 column*/
.column-1 {
  float: left;
  width: 35%;
  margin: 15px;
}

.column-2 {
  float: right;
  width: 60%;
  margin: 24px 0px;
}

a:hover {
	text-decoration: underline;
}

.outerBox {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.innerBox {
	padding: 7px;
	max-width: 70%;
}
}

@media screen and (min-width: 1980px) {
body {
	margin: 8% 8%;
}

/*Add responsive media queries for phones, so it is all 1 column*/
.column-1 {
  float: left;
  width: 35%;
  margin: 15px;
}

.column-2 {
  float: right;
  width: 60%;
  margin: 24px 0px;
}

a:hover {
	text-decoration: underline;
}

.outerBox {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.innerBox {
	padding: 7px;
	max-width: 70%;
}
}
